/* Importa o tema pré-construído Indigo/Pink */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Resets básicos */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}